.radial-gradient-background {
    background-image: radial-gradient(circle, #a3c3f0 0%, #64aa9e 100%); 
    width: 100%;
    height: 30vh;
    justify-content: center;
    display: flex;
    color: #112731;
    align-items: center;

}

